/* palette-full.css - SEMUA 94 warna dari 25 sprite skin.
 * Generated otomatis; urutan descending berdasarkan total piksel.
 * Ini lampiran referensi. Untuk tema yang bersih pakai theme.css (semantik).
 */

  color-343533: #343533ff;
  color-253863: #253863ff;
  color-dcdcdc: #dcdcdcff;
  color-000000: #000000ff;
  color-646464: #646464ff;
  color-242423: #242423ff;
  color-161616: #161616ff;
  color-323332: #323332ff;
  color-222221: #222221ff;
  color-1e781e: #1e781eff;
  color-0e141a: #0e141aff;
  color-929297: #929297ff;
  color-4f595e: #4f595eff;
  color-46728f: #46728fff;
  color-1c1c1c: #1c1c1cff;
  color-2e2f2e: #2e2f2eff;
  color-fd0e02: #fd0e02ff;
  color-64759b: #64759bff;
  color-605d5c: #605d5cff;
  color-282c35: #282c35ff;
  color-2a2f36: #2a2f36ff;
  color-2e302e: #2e302eff;
  color-262724: #262724ff;
  color-373e4f: #373e4fff;
  color-414240: #414240ff;
  color-282828: #282828ff;
  color-808080: #808080ff;
  color-191919: #191919ff;
  color-0c0c0c: #0c0c0cff;
  color-484848: #484848ff;
  color-515151: #515151ff;
  color-131417: #131417ff;
  color-fb0000: #fb0000ff;
  color-1f1e1d: #1f1e1dff;
  color-559dff: #559dffff;
  color-4f4f4f: #4f4f4fff;
  color-121115: #121115ff;
  color-394051: #394051ff;
  color-378fdc: #378fdcff;
  color-4d4d4d: #4d4d4dff;
  color-989898: #989898ff;
  color-404757: #404757ff;
  color-444444: #444444ff;
  color-383431: #383431ff;
  color-8591ac: #8591acff;
  color-494949: #494949ff;
  color-464646: #464646ff;
  color-8d989d: #8d989dff;
  color-679c6f: #679c6fff;
  color-413f47: #413f47ff;
  color-20242d: #20242dff;
  color-1d1d1d: #1d1d1dff;
  color-494948: #494948ff;
  color-d0cdcd: #d0cdcdff;
  color-202020: #202020ff;
  color-110f0f: #110f0fff;
  color-040405: #040405ff;
  color-474746: #474746ff;
  color-3c3c3c: #3c3c3cff;
  color-c9c9c9: #c9c9c9ff;
  color-dedede: #dededeff;
  color-040404: #040404ff;
  color-11161c: #11161cff;
  color-cccccc: #ccccccff;
  color-707070: #707070ff;
  color-1c1d1c: #1c1d1cff;
  color-555555: #555555ff;
  color-ec1e1e: #ec1e1eff;
  color-f93434: #f93434ff;
  color-100f13: #100f13ff;
  color-111014: #111014ff;
  color-bebebe: #bebebeff;
  color-378bca: #378bcaff;
  color-ea75ff: #ea75ffff;
  color-0c0b0e: #0c0b0eff;
  color-ffbc1f: #ffbc1fff;
  color-9e9e9e: #9e9e9eff;
  color-f6f6f6: #f6f6f6ff;
  color-b7bac1: #b7bac1ff;
  color-858585: #858585ff;
  color-bababa: #bababaff;
  color-474747: #474747ff;
  color-353634: #353634ff;
  color-c84623: #c84623ff;
  color-3fa7ff: #3fa7ffff;
  color-eeeeee: #eeeeeeff;
  color-fe0701: #fe0701ff;
  color-363735: #363735ff;
  color-416a85: #416a85ff;
  color-373737: #373737ff;
  color-212121: #212121ff;
  color-2a3d66: #2a3d66ff;
  color-c1b0b0: #c1b0b0ff;
  color-be8484: #be8484ff;
