SUBSYSTEM=="hidraw", ATTRS{idVendor}=="4084", ATTRS{idProduct}=="4357", MODE="0660", GROUP="plugdev", TAG+="uaccess", SYMLINK+="zp84amp"

KERNEL=="hidraw*", ATTRS{idVendor}=="4084", ATTRS{idProduct}=="4357", ACTION=="add", RUN+="/bin/chmod 0660 /dev/%k"
